body {
    background-color: #232f3e;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  h1, h2, h3 {
    font-weight: bold;
    text-align: center;
  }
  
  h1 {
    font-size: 48px;
    margin: 50px 0;
  }
  
  h2 {
    font-size: 36px;
    margin: 30px 0;
  }
  
  .btn {
    display: inline-block;
    background-color: #f9a825;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 24px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #c17900;
  }

  .choice-button {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }
  
  .choice-button button {
    margin-left: 10%;
    margin-right: 10%;
  }

  #correct-button {
    background-color: #2fbf6b;
  }

  #correct-button:hover {
    background-color: #1c713f;
  }

  #team-ok-button {
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: 12px;
  }

  .grey-btn {
    background-color: #83839b;
  }

  .grey-btn:hover {
    background-color: #494956;
  }

  table {
    margin: 50px auto;
    border-collapse: collapse;
    text-align: center;
    font-size: 24px;
  }
  
  th, td {
    padding: 20px;
    border: 4px solid #fff;
  }
  
  th {
    background-color: #c17900;
    color: #fff;
    text-transform: uppercase;
  }
  
  td {
    background-color: #232f3e;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .score {
    font-size: 36px;
  }
  
  .red {
    color: #d50000;
  }
  
  .blue {
    color: #0d47a1;
  }
  
  .green {
    color: #00c853;
  }
  
  .yellow {
    color: #ffab00;
  }

  .question-frame {
    display: flex;
    flex-direction: column;
  }

  .question-content {
    display: flex;
    flex-direction: column;
    background-color: #c17900;
    max-height: 70rem;
    flex: 0 10 auto;
    padding: 20px;
    margin: auto;
  }

  .question-image {
    max-width: 90%;
    max-height: 30rem;
    border: 10px solid #ccc;
    padding: 5px;
    margin: 0 auto;
  }

  .answer-frame {
    width: 33%;
    margin: 0 auto;
    padding: 30px;
    border: 3px solid black;
    background-color: #c17900;
  }
  
  .answer-content {
    text-align: center;
  }
  
  .answer-content p {
    font-size: 30px;
  }
  
  .answer-content img {
    width: 100%;
  }
  
  .choice-list {
    list-style: none;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
  }
  
  .choice-item {
    border: 2px solid #333;
    background-color: #b1b1b570;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
  }

  .choice-item:hover:not(.correct-choice, .incorrect-choice) {
    background-color: #85858870;
  }

  .correct-choice {
    background-color: #2fbf6b;
  }

  .incorrect-choice {
    background-color: #ff0000;
  }

  @keyframes pulsate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .pulsate #time-remaining {
    animation: pulsate 1s ease-out infinite;
    display: inline-block;
  }

  td .pulsate {
    animation: pulsate 0.8s ease-out infinite;
    display: inline-block;
    color: #31dd39;
  }

  
  